#gameBox {
  display: flex;
  justify-content: center;
}
.buttons h3{
    
    border:  solid grey 2px;
    padding: 10px;
    margin-left: 40px;
}
.buttons {
  display: flex;
  align-items: baseline;
  justify-content: space-around;
}
.div-butt {
   
  height: 30px;
  width: 30px;
  border: black solid 3px;
  margin-left: 20px;
  margin-bottom: 20px;
}
.message {
  justify-content: center;
}

.columns {
   
  width: 300px;
  height: 300px;
  border: solid black 5px;
}
.square {
    align-items: stretch;
  text-align: center;
  padding: 0%;
  margin: 0%;
 height: 80px;
  border: solid green 10px;
}
